/* Header */
.bgimage {
    background-image:url(../image/background.jpg);
    background-position:right bottom;
    background-size: cover;
    height:200px;
}

header {
    display: flex;
    align-items: center;
    color:aliceblue;
}

/* nav */

ul {
    margin: 30px;
    text-align: right;
    font-size: 1.5em;
    
}

/* Service */
.second {
    padding: 15px;
    display: block;
}
section img {
    display:block;
    margin:auto;
    height: 150px;
}

section h2 {
    text-align: center;
}

section p {
    font-style: italic;
    text-align: center;
}

/* button */

button {
    margin:20px;
}

/* table */

table {
    margin: 20px;
}
